.layout {
    &-base {
        @include make-container();
        max-width: 380px;
    }

    &-row {
        @include make-row();
    }

    &-col {
        @include make-col-ready();

        &-base {
            width: 100%;
        }

        &__3 {
            @include make-col(3);
            text-align: center;

            &--left {
                text-align: left;
            }

            &--right {
                text-align: right;
            }
        }

        &__4 {
            @include make-col(4);
            text-align: center;
        }
    }

    &-free {
        position: fixed;
        left:0;
        bottom: 15px;
        right: 0;
        z-index: 100;
    }

    &-all {
        position: fixed;
        left:0;
        bottom: 0;
        right: 0;
        top: 0;
        z-index: 99;
    }

    &-mb10 {
        margin-bottom: 10px;
    }

    &-mb100 {
        margin-bottom: 100px;
    }

    
}