// отменить импорт предустановленных классов grid
$enable-grid-classes: false;

@import "../../bower_components/bootstrap/scss/bootstrap-reboot";
@import "../../bower_components/bootstrap/scss/bootstrap-grid";

@import "variables";

// layouts
@import "layout";
@import "layout-input";

// blocks

@import "input";

body {
    background-color: #212121;
    color: #eee;
}

.bg {
    background-color: #212121;
}

.center {
    text-align: center;
}

.f3 {
    font-size: 3em;
}

.f4 {
    font-size: 4em;
}

.btn {
    width: 100%;
    background-color: #00C853;
    border: none;
    padding: 10px 0;
    color: #eee;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    outline-style: none;
    cursor: pointer;

    &:active {
        background-color: #388E3C;
    }

    &:focus {
        outline-style: none;
    }
}

.version {
    position: absolute;
    color: #aaa;
    right: 0;
    top: 0;
    font-size: 0.8em;
    font-style: italic;
    padding: 5px;
	z-index: 1000;
}

.nopadding {
    padding: 0;
}

